<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Vue.js App</title>
    <link href="main.css" rel="stylesheet">
</head>
<body>
<div id="app">
    <h2>ビットコインの現在価格</h2>
    <section v-if="hasError">エラーが発生しました。</section>
    <section v-else>
        <ul v-cloak>
            <li v-for="(rate, currency) in bpi">
                {{ currency }} : {{ rate.rate_float | currencyDecimal }}
            </li>
        </ul>
    </section>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
<script src="main.js"></script>
</body>
</html>